<!-- Modal -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #cce5ff !important;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body">
                <h2 class="text-center" style="color: #081D45;"> คุณต้องการออกจากระบบหรือไม่ ?</h2>
                <div class="text-center mt-2">
                    <button type="button" class="btn btn-link-need subtitle1 mx-2" (click)="logout()"><i class="fas fa-sign-out-alt"></i>&nbsp; &nbsp;ใช่</button>
                    <button type="button" class="btn btn-link-need-1 subtitle1" data-bs-dismiss="modal"><i class="fas fa-times-circle"></i>&nbsp; &nbsp;ไม่</button>
                </div>
            </div>
        </div>
    </div>
</div> -->


<body>
  <app-sidebar-backend></app-sidebar-backend>
  <section class="home-section">
  
    <header class="header">
      <div class="container-fluid">
        <div class="row">
            <nav class="subtitle3"><i class="fa fa-street-view" aria-hidden="true" style="font-size: 15px;"></i>
              &nbsp;&nbsp;A M I N</nav>
        </div>
      </div>
    </header>
    <div class="home-content">
      <div class="overview-boxes">
        <h1 style="color: #081D45;"><i class="far fa-thumbs-up mx-2" style="font-size: 30px;"></i>ลูกค้าที่สนใจทำแผนประกัน</h1>
        <legend></legend>
        <div class="row">
          <div class="col-12 col-xl-3">
              <div class="input-wrapper w-100">
                  <input type="text" [(ngModel)]="filterCustomer" name="filterCustomer" class="form-control hight-input-text text1" placeholder="ค้นหาลูกค้า">
              </div>
          </div>
      </div>
        <div class="col-12 mt-2">
          <div class="bg-table">
            <table class="table table-list">
              <thead class="table-dark">
                <tr>
                  <th class="first-col"></th>
                  <!-- <th></th> -->
                  <th class="">ชื่อลูกค้า</th>
                  <th class="">เบอร์โทรศัพท์</th>
                  <th class="">อีเมล</th>
                  <th class="">จังหวัด</th>
                  <th class="last-col">ปี-เดือน-วัน</th>
                </tr>
              </thead>
              <tbody>
                <tr class="tr-content" *ngFor="let user of user | filter:filterCustomer |
                paginate: { itemsPerPage: 4, currentPage: page }">
                  <td class=""><img src="../../../../../assets/img/avatar/{{getRandom()}}" alt="" width="85"
                      height="85"></td>
                  <!-- <td>
                    <i *ngIf="isSuccess" class="far fa-check-circle" style="color: #22c55e;"></i>
                  </td> -->
                  <!-- <td><img src="../../../../../assets/img/user.png" alt="" width="100" height="100"></td> -->
                  <td class="">คุณ&nbsp; &nbsp;{{user.user_firstname}}&nbsp; &nbsp; &nbsp;
                    {{user.user_lastname}}</td>
                  <td class=""><i class="fa fa-phone-alt" style="font-size: 15px;color: #081D45;"></i>&nbsp;&nbsp;&nbsp;{{user.user_phone}}</td>
                  <td class=""><i class="fa fa-envelope" style="font-size: 15px;color: #081D45;"></i>&nbsp;&nbsp;&nbsp;
                    {{user.user_email}}</td>
                    <td class="">{{user.user_county}}</td>
                  <td class="">
                    <!-- <label class="switch-relative">
                      <input type="checkbox">
                      <div class="slider-green">
                        <span class="on subtitle2 fix-switch">ติดต่อแล้ว</span>
                        <span class="off subtitle2 fix-switch">ยังไม่ติดต่อ</span>
                      </div>
                    </label> -->
                    <i class="fa fa-calendar" style="font-size: 15px;color: #081D45;"></i>&nbsp;&nbsp;{{user.createdAt}}
                    <!-- <button type="button" class="button circle not mx-2">
                      <i class="fas fa-times" style="font-size: 20px;"></i></button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end">
            <pagination-controls class="text-center my-pagination" (pageChange)="page=$event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>




<button hidden type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div> -->
      <div class="modal-body">
        <h2 class="text-center"> คุณต้องการออกจากระบบหรือไม่ ?</h2>
        <!-- <div class="text-center">
                      <i class="fas fa-sign-out-alt" style="font-size: 60px;"></i>
                  </div> -->
        <div class="text-center mt-2">
          <button type="button" class="btn btn-link-need subtitle1 mx-2" routerLink="/login">ใช่</button>
          <button type="button" class="btn btn-link-need-1 subtitle1" data-bs-dismiss="modal">ไม่</button>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
    </div>
  </div>
</div>