<app-header-frontend></app-header-frontend>


<body>
    <div class="container-fluid" style="margin-top: 35px;">
    <div class="row">
        <h1 class="text-center" style="margin-top: 50px;margin-bottom: 10px;color: #0f2f86;">
            ดาวน์โหลดเอกสารต่างๆ</h1>
        <div class="img-document">
        </div>
    </div>
    <div class="row">
        <label class="subtitle2 text-center mt-3" style="color: #0f2f86;">ดาวน์โหลดแบบฟอร์มและเอกสารต่างๆ ที่เป็นประโยชน์ต่อลูกค้า</label>
    </div>
    <div class="row">
        <div class="col-12">
            
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</body>


<app-footer-frontend></app-footer-frontend>