<div class="container-fluid" style="margin-top: 35px;">
    <!-- <p>dashboard works!</p> -->


        <div class="navigation">
            <ul>
                <li class="list">
                    <a href="#">
                        <span class="icon"><i class="fas fa-house-user"></i></span>
                        <span class="list">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><i class="fas fa-hospital"></i></span>
                        <span class="list">Hospital</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><i class="fas fa-file-alt"></i></span>
                        <span class="list">Insurance</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><i class="fas fa-users"></i></span>
                        <span class="list">Customer</span>
                    </a>
                </li>
            </ul>
        </div>
  
</div>