<div class="container-fluid" style="margin-top: 35px;">
    <!-- <p>dashboard works!</p> -->


        <div class="navigation">
            <ul>
                <!-- <li class="list" routerLinkActive="active" routerLink="/krungthai/dashboard">
                    <a> 
                        <span class="icon"><i class="fas fa-chart-bar"></i></span>
                        <span class="title subtitle3">ภาพรวมระบบ</span>
                    </a>
                </li> -->
                <li class="list" routerLinkActive="active" routerLink="/krungthai/dashboard">
                    <a> 
                        <span class="icon"><i class="fas fa-chart-bar"></i></span>
                        <span class="title">ภาพรวมระบบ</span>
                    </a>
                </li>
                <li class="list" routerLinkActive="active" routerLink="/krungthai/hospital">
                    <a>
                        <span class="icon"><i class="fas fa-hospital"></i></span>
                        <span class="title">โรงพยาบาล</span>
                    </a>
                </li>
                <li class="list" routerLinkActive="active" routerLink="/krungthai/insurance">
                    <a>
                        <span class="icon"><i class="fas fa-poll"></i></span>
                        <span class="title">แผนประกัน</span>
                    </a>
                </li>

                <li class="list" routerLinkActive="active" routerLink="/krungthai/customer">
                    <a>
                        <span class="icon"><i class="fas fa-thumbs-up"></i></span>
                        <span class="title">ลูกค้าที่สนใจ</span>
                    </a>
                </li>
              
                <!-- <li class="list" routerLink="/krungthai/customer" style="bottom: auto;">
                    <a>
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        
                    </a>
                </li> -->
        
            </ul>
        </div>
</div>
<!-- <router-outlet></router-outlet> -->