<body>
	<div class="container mt-5">
		<div class="img">
			<img src="../../../assets/img/dashbord.svg">
		</div>
		<div class="login-content">
			<form>
				<img src="../../../assets/img/collaboration.svg" class=" animate__animated animate__fadeInRight">
				<h1 class="heading1">Hi Welcome!</h1>
				<span class="subtitle3">Login to your account.</span>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<input type="text" class="input" [formControl]="username">
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<input type="password" class="input" [formControl]="password">
					</div>
				</div>
				<a href="#" class="subtitle2">Forgot Password?</a>
				<input type="button" class="btn subtitle1" value="เข้าสู่ระบบ" (click)="_beforeLogin()"
					data-bs-toggle="modal" data-bs-target="#login">
				<!-- routerLink="/krungthai/dashboard" -->
			</form>
		</div>
	</div>
</body>




<!-- <button type="button" hidden class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login" #login>
</button> -->

<!-- Modal -->
<ng-template #login let-modal>
	<div class="modal-header">
		<h5 class="modal-title" id="staticBackdropLabel"></h5>
		<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
	</div>
	<div class="modal-body">
		<div class="text-center text-content m-0 pb-4">
			<div class="icon-control">
				<i class="fas fa-check animated rotateIn"></i>
				<!-- <i class="fas fa-check"></i> -->
			</div>
			<h2 class="m-0" style="color: #333;"> Login Successfully ! </h2>
		</div>
	</div>
</ng-template>