<div class="sidebar">
  <div class="logo-details">
    <i class="fas fa-comments-dollar"></i>
    <!-- <img src="../../../../assets/img/a.png" alt="" width="20px" height="20px"> -->
    <span class="logo_name">กรุงไทย-แอกซ่า</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#" routerLinkActive="active" routerLink="/krungthai/dashboard-chart">
        <i class="far fa-chart-bar"></i>
        <span class="links_name">ภาพรวมของระบบ</span>
      </a>
    </li>
    <li>
      <a href="#" routerLinkActive="active" routerLink="/krungthai/dashboard-hospital">
        <i class="far fa-hospital"></i>
        <span class="links_name">โรงพยาบาล</span>
      </a>
    </li>
    <li>
      <a href="#" routerLinkActive="active" routerLink="/krungthai/insurance">
        <i class="far fa-list-alt"></i>
        <span class="links_name">แผนประกัน</span>
      </a>
    </li>
    <li>
      <a href="#" routerLinkActive="active" routerLink="/krungthai/customer">
        <i class="far fa-thumbs-up"></i>
        <span class="links_name">ลูกค้าที่สนใจ</span>
      </a>
    </li>
    <li class="log_out">
      <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop" routerLinkActive="active">
        <i class="fas fa-sign-in-alt"></i>
        <span class="links_name">ออกจากระบบ</span>
      </a>
    </li>
  </ul>
</div>


