<div class="container-fluid" style="margin-top: 35px;">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-xl-6 col-lg-6 order-1">
            <div class="row animate__animated animate__zoomIn">
                <div class="img">
                    <img src="../../../assets/img/register.svg">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-xl-6 col-lg-6 order-2">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <h1 class="text-color mt-5">
                        <!-- <i class="far fa-address-card  text-color " aria-hidden="true" style="font-size: 25px;"></i> -->
                        สนใจทำแผนประกัน กรุณากรอกข้อมูล
                    </h1>
                    <legend></legend>
                </div>
            </div>
            <div class="form-axa animate__animated animate__zoomIn">
                <div class="row">
                    <div class="col-6 col-md-5">
                        <label class="subtitle1 text-color">ชื่อตามบัตรประชาชน</label>
                        <span class="subtitle1" style="color: #f64658;"> *</span>
                        <input type="text" class="form-control hight-input-text" [formControl]="firstName" placeholder="ระบุชื่อจริง">
                        <!-- <input type="text" pInputText /> -->
                        <div *ngIf="firstName.invalid && firstName.touched"
                            class="alert alert-danger alert-padding mt-2" role="alert">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span class="subtitle3"> ชื่อลูกค้าจำเป็นต้องกรอก</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-5">
                        <label class="subtitle1 text-color">นามสกุลตามบัตรประชาชน</label>
                        <span class="subtitle1" style="color: #f64658;"> *</span>
                        <input type="text" class="form-control hight-input-text" [formControl]="lastName" placeholder="ระบุนามสกุล">
                        <div *ngIf="lastName.invalid && lastName.touched" class="alert alert-danger alert-padding mt-2"
                            role="alert">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span class="subtitle3"> ชื่อลูกค้าจำเป็นต้องกรอก</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6 col-md-5">
                        <label class="subtitle1 text-color">อีเมล</label>
                        <span class="subtitle1" style="color: #f64658;"> *</span>
                        <input type="text" class="form-control hight-input-text" [formControl]="Email" placeholder="ระบุอีเมล" >
                        <div *ngIf="Email.hasError('required') && Email.invalid && Email.touched"
                            class="alert alert-danger alert-padding mt-2" role="alert">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span class="subtitle3">จำเป็นต้องกรอก</span>
                        </div>

                        <div *ngIf="Email.hasError('email') && Email.invalid && Email.touched"
                            class="alert alert-danger alert-padding mt-2" role="alert">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span class="subtitle3">รูปแบบอีเมลไม่ถูกต้อง</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-5">
                        <label class="subtitle1 text-color">เบอร์โทรศัพท์</label>
                        <span class="subtitle1" style="color: #f64658;"> *</span>
                        <input type="text" class="form-control hight-input-text" [formControl]="numberPhone" placeholder="ระบุเบอร์โทรศัพท์">

                        <div *ngIf="numberPhone.invalid && numberPhone.touched"
                            class="alert alert-danger alert-padding mt-2" role="alert">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span class="subtitle3">จำเป็นต้องกรอก</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6 col-md-5">
                        <label class="subtitle1 text-color">จังหวัดที่อยู่</label>
                        <ng-select [items]="dataList" bindLabel="province" [formControl]="dataSelect" placeholder="ระบุจังหวัดที่อยู่">
                        </ng-select>
                    </div>
                    <div class="col-6 col-md-5">
                        <label class="subtitle1 text-color">เบอร์โทรสาร</label>
                        <input type="text" class="form-control hight-input-text" [formControl]="faxNumber">
                    </div>
                </div>
                <div class="row mt-3">
                    <label
                        class="subtitle1 text-color">ท่านสามารถศึกษานโยบายข้อมูลส่วนบุคคลได้ที่เว็บไซต์กรุงไทยแอกซ่า</label>
                </div>
                <div class="row mt-3">
                    <div class="col-auto">
                        <label class="text1 bs-gray1">
                            <input type="checkbox" class="form-check-input mx-2">ข้าพเจ้ายินยอมให้บริษัท กรุงไทย
                            แอกซ่า จำกัด และกลุ่มบริษัทกรุงไทย แอกซ่า ตัวแทนประกันชีวิต นายหน้าประกันชีวิต <br>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; สามารถเก็บใช้ข้อมูลที่ข้าพเจ้าให้ไว้
                        </label>
                    </div>
                </div>
                <!-- <div class="row mt-3">
                    <div class="col-12 col-md-12 text-center" style="text-align: center;">
                        <button class="button button__text subtitle1 ps-4 pe-4 mx-2 p-1 btn-animate-type1" (OnClick)="Onsubmit()">&nbsp;&nbsp;ยืนยันข้อมูล&nbsp;&nbsp;|&nbsp;&nbsp;<i
                                class="fas fa-cloud-download-alt mx-2 "></i>
                        </button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>



<div class="footer-activity">
    <div class="col-12 col-md-12 text-center" style="text-align: center;">
        <button class="button button__text subtitle1 ps-4 pe-4 mx-2 p-1 btn-animate-type1" type="submit"
            data-bs-toggle="modal" data-bs-target="#saveModal"
            (click)="submitsResgister()">&nbsp;&nbsp;ยืนยันข้อมูล&nbsp;&nbsp;|&nbsp;&nbsp;<i
                class="fas fa-cloud-download-alt mx-2 "></i>
            <!-- data-bs-toggle="modal" data-bs-target="#saveModal" #login -->
        </button>
    </div>
</div>
<!-- Modal -->

<ng-template #saveModal let-modal>

    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"></h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
    </div>
    <div class="modal-body">
        <div class="text-center text-content m-0 pb-4">
            <div class="icon-control">
                <i class="fas fa-check animated rotateIn"></i>
            </div>
            <h3 class="m-0" style="color: #333;"> ขอบคุณที่ให้ความสนใจแผนประกันบริษัทของเรา
                <br>
                ทางเราจะติดต่อกลับท่านภายในเวลาเร็วที่สุด
            </h3>
        </div>
    </div>

</ng-template>
