<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url('../../../../assets/img/axa-png-1.jpg')"></div>
    <ul class="details">
      <li class="date text1" style="position: absolute;
      bottom: 0;"> เลขที่ 9 อาคาร จี ทาวเวอร์ แกรนด์ รามา 9 ชั้น 1,20-27 ถนน พระราม 9 <br> แขวงห้วยขวาง เขตห้วยขวาง
        กรุงเทพมหานคร 10310</li>
    </ul>
  </div>
  <div class="description">
    <h1> เกี่ยวกับบริษัท</h1>
    <h2><i class="far fa-building" style="font-size: 20px;"></i> กรุงไทย-แอกซ่า ประกันชีวิต จำกัด (มหาชน)</h2>
    <p>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;เกิดจากการผนึกกำลังของ บมจ. ธนาคารกรุงไทย
      ธนาคารพาณิชย์ชั้นนำของไทย
      และกลุ่มแอกซ่า กลุ่มธุรกิจประกันชีวิต สุขภาพและบริหารสินทรัพย์ระดับโลก
      ผลให้ กรุงไทย-แอกซ่า ประกันชีวิต เป็นบริษัทประกันชีวิตที่มีสถานะทางการเงินที่แข็งแกร่ง
      และมีความเชี่ยวชาญในด้านการรับประกันชีวิต และประกันสุขภาพ
      โดยมุ่งมั่นที่จะเป็นบริษัทประกันชีวิตอันดับ 1 ในใจของคนไทย</p>
    <!-- <p class="read-more">
      <a href="#">Read More</a>
    </p> -->
  </div>
</div>