<div class="menu-footer">
    <div class="row" style="text-align: center;">
        <div class="col-xl-4">
            <h4 style="color: #fff;margin: 20px auto;">ระบบสนับสนุนการตัดสินใจเพื่อการเลือกซื้อแผนประกันชีวิต</h4>
            <div class="border-menu" style="width: 30%;"></div>
            <h4 style="color: #fff;margin: 20px auto;">Decision Support System for Insurance Plan</h4>
        </div>
        <div class="col-xl-4">
            <h4 style="color: #fff;margin: 20px auto;">ติดต่อเรา</h4>
            <div class="border-menu"></div>
            <div class="menu-social">
                <i class="fab fa-line mx-2"><span>&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;0931107879</span></i>
                <br>
                <i class="fas fa-phone-alt mx-2"><span>&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;093-111-7879</span></i>
            </div>
        </div>
        <div class="col-xl-4">
            <img src="../../../assets/img/logo-mai2.png" alt="" class="logo-1">
        </div>
    </div>
</div>



<div class="footer-activity">
    <div class="col-12 col-md-12 text-center" style="text-align: center;">
        <span style="color: #fff;font-size: 20px;">
            COPYRIGHT 2022 © DSS-INSURANCE-KRUNGTHAI.COM
        </span>
        <!-- 2020 Krungthai AXA. All right reserved -->
    </div>
</div>
