<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="subtitle2">AXA</nav>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <button type="button" class="btn btn-danger" routerLink="krungthai/home-page">home-page</button>
      <button type="button" class="btn btn-primary mx-1" routerLink="login">Login</button>
      <button type="button" class="btn btn-secondary" routerLink="krungthai/form-axa">form</button>
      <button type="button" class="btn btn-success mx-1" routerLink="krungthai/form-rating">form-rating</button>
    </div>
    <!-- <app-form-rating></app-form-rating> -->
  </div>
  <!-- <app-form-axa></app-form-axa> -->
  <!-- <app-login></app-login> -->
</body>
<router-outlet></router-outlet>