<!-- Modal -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body">
                <h2 class="text-center" style="color: #081D45;"> คุณต้องการออกจากระบบหรือไม่ ?</h2>
                <div class="text-center mt-2">
                    <button type="button" class="btn btn-link-need subtitle1 mx-2" (click)="logout()"><i class="fas fa-sign-out-alt"></i>&nbsp; &nbsp;ใช่</button>
                    <button type="button" class="btn btn-link-need-1 subtitle1" data-bs-dismiss="modal"><i class="fas fa-times-circle"></i>&nbsp; &nbsp;ไม่</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Modal เพิ่มข้อมูล -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <i class="fas fa-hospital-user" style="font-size: 20px;color: #fff;"></i><span class="heading2"
                    style="color: #fff;">&nbsp;&nbsp;&nbsp;&nbsp;เพิ่มข้อมูลเครือข่ายสถานพยาบาล</span>
            </div>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
            <div class="multiple-contact">
                <div class="fix-padding">
                    <div class="row">
                        <div class="col-md-12 col-12 col-sm-12 mt-2">
                            <div class="drag-area">
                                <img src="../../../../../assets/img/hospital.png" alt="" width="100px" height="100px">

                                <span class="subtitle3">ชื่อเครือข่ายสถานพยาบาล</span>
                                <input type="text" class="form-control hight-input-text" [formControl]="hospitalName"
                                    placeholder="ระบุชื่อโรงพยาบาล">
                                <div class="col-md-12 col-12 col-sm-12 mt-2">
                                    <div *ngIf="hospitalName.invalid && hospitalName.touched"
                                        class="alert alert-danger alert-padding" role="alert">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                        <span class="subtitle3"> จำเป็นต้องกรอก </span>
                                    </div>
                                </div>
                            </div>
                            <hr class="style19">
                        </div>

                        <div class="col-md-12 col-12 col-sm-12 mt-2">
                            <span class="subtitle3">ที่อยู่เครือข่ายสถานพยาบาล</span>
                            <!-- <input type="text" class="form-control hight-input-text" [formControl]="hospitalLocation"> -->
                            <textarea type="text" class="form-control" [formControl]="hospitalLocation"
                                placeholder="ระบุที่อยู่โรงพยาบาล" rows="3"></textarea>


                            <div *ngIf="hospitalLocation.invalid && hospitalLocation.touched"
                                class="alert alert-danger alert-padding mt-2" role="alert">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                <span class="subtitle3"> จำเป็นต้องกรอก </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-12 col-sm-12">
                            <span class="subtitle3">เบอร์โทรศัพท์</span>
                            <input type="text" class="form-control hight-input-text" [formControl]="phone">
                            <div *ngIf="phone.invalid && phone.touched" class="alert alert-danger alert-padding mt-2"
                                role="alert">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                <span class="subtitle3"> จำเป็นต้องกรอก </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary subtitle3" data-bs-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-save subtitle3" (click)="onSubmit()">บันทึก</button>
        </div>
    </div>
</div>





<!-- Modal แก้ไขข้อมูล -->
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-content">
        <div class="modal-header modal-header-edit">
            <div class="modal-title">
                <i class="fas fa-hospital-user" style="font-size: 20px;color: #fff;"></i><span class="heading2"
                    style="color: #fff;">&nbsp;&nbsp;&nbsp;&nbsp;แก้ไขข้อมูลเครือข่ายสถานพยาบาล</span>
            </div>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
            <div class="multiple-contact">
                <div class="fix-padding">
                    <div class="row">
                        <div class="col-md-12 col-12 col-sm-12 mt-2">
                            <div class="drag-area">
                                <img src="../../../../../assets/img/hospital.png" alt="" width="100px" height="100px">

                                <span class="subtitle3">ชื่อเครือข่ายสถานพยาบาล</span>
                                <input type="text" class="form-control hight-input-text" [formControl]="hospitalName"
                                    placeholder="ระบุชื่อโรงพยาบาล">
                                <div class="col-md-12 col-12 col-sm-12 mt-2">
                                    <div *ngIf="hospitalName.invalid && hospitalName.touched"
                                        class="alert alert-danger alert-padding" role="alert">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                        <span class="subtitle3"> จำเป็นต้องกรอก </span>
                                    </div>
                                </div>
                            </div>
                            <hr class="style19">
                        </div>

                        <div class="col-md-12 col-12 col-sm-12 mt-2">
                            <span class="subtitle3">ที่อยู่เครือข่ายสถานพยาบาล</span>
                            <!-- <input type="text" class="form-control hight-input-text" [formControl]="hospitalLocation"> -->
                            <textarea type="text" class="form-control" [formControl]="hospitalLocation"
                                rows="3"></textarea>
                            <div *ngIf="hospitalLocation.invalid && hospitalLocation.touched"
                                class="alert alert-danger alert-padding mt-2" role="alert">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                <span class="subtitle3"> จำเป็นต้องกรอก </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-12 col-sm-12">
                            <span class="subtitle3">เบอร์โทรศัพท์</span>
                            <input type="text" class="form-control hight-input-text" [formControl]="phone">
                            <div *ngIf="phone.invalid && phone.touched" class="alert alert-danger alert-padding mt-2"
                                role="alert">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                <span class="subtitle3"> จำเป็นต้องกรอก </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary subtitle3" data-bs-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-edit subtitle3" (click)="onUpdate()">บันทึก</button>
        </div>
    </div>
</div>


<!-- Modal ลบข้อมูล -->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-content ">
        <div class="modal-header modal-header-delete">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 mt-2 text-center">
                    <i class="far fa-trash-alt" style="font-size: 70px;color: #f64658;"></i>
                    <h1 class="heading1 mt-3">ต้องการลบใช่หรือไม่</h1>
                    <button type="button" class="btn btn-secondary subtitle3 mx-2"
                        data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-delete subtitle3" (click)="onDelete()">ยืนยัน</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- button close -->

<button type="button" hidden class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal
    (click)="closeModalHospital()"></button>


<body>
    <app-sidebar-backend></app-sidebar-backend>
    <section class="home-section">
        <header class="header">
            <div class="container-fluid">
              <div class="row">
                  <nav class="subtitle3"><i class="fa fa-street-view" aria-hidden="true" style="font-size: 15px;"></i>
                    &nbsp;&nbsp; <span class="subtitle1"> A D M I N</span></nav>
              </div>
            </div>
          </header>
        <div class="home-content">
            <div class="overview-boxes">
                <h1 class="mt-2" style="color: #081D45;"><i class="far fa-hospital mx-2"  style="font-size: 30px;"></i> เครือข่ายสถานพยาบาล</h1>
                <legend></legend>
                <!-- <img src="../../../../../assets/img/2b6a3b9bed1648c48698065c54e5eacc7d192f80_hospitals-desktop.jfif" alt=""> -->

                <div class="row">

                    <div class="col-12 col-xl-3">
                        <div class="input-wrapper w-100">
                            <input type="text"  [(ngModel)]="filterHospital" name="filterHospital" class="form-control hight-input-text text1" placeholder="ค้นหาโรงพยาบาล">
                        </div>
                    </div>
                    <div class="col-12 col-xl-9">
                        <button type="button" class="btn btn-add-data" data-bs-toggle="modal"
                        data-bs-target="#AddModal" (click)="setCreateModal()"><i class="fas fa-plus-square"
                            style="font-size: 15px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;เพิ่มข้อมูล</button>
                    </div>
                </div>


                <div class="col-12 mt-2">
                    <div class="bg-table">
                        <table class="table table-list">
                            <thead class="table-dark">
                                <tr>
                                    <th class="first-col"> &nbsp; &nbsp;ชื่อเครือข่ายสถานพยาบาล</th>

                                    <th>ที่อยู่เครือข่ายสถานพยาบาล</th>
                                    <th></th>
                                    <th>เบอร์โทรศัพท์</th>
                                    <th></th>
                                    <th class="last-col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hospital of hospital | filter:filterHospital | paginate: { itemsPerPage: 6, currentPage: page }"
                                    class="tr-content">

                                    <td>{{hospital.hospital_name}}</td>
                                    <td><i class="fas fa-map-marker-alt" style="font-size: 15px;color: #63799B;">&nbsp;&nbsp;&nbsp;</i>{{hospital.hospital_location}}</td>
                                    <td></td>
                                    <td><i class="fas fa-phone-alt" style="font-size: 15px;color: #63799B;"></i>&nbsp;&nbsp;&nbsp;{{hospital.hospital_phone}}</td>
                                    <td></td>
                                    <td>
                                        <!-- <button type="button" class="button circle edit" data-bs-toggle="modal" (click)="setEditModal(hospital.hospital_id)"
                                            data-bs-target="#EditModal"><i class="fas fa-pencil-alt"
                                                style="font-size: 20px;"></i></button>
                                        <button type="button" class="button circle delete mx-2" data-bs-toggle="modal"  (click)="setDeleteModal(hospital.hospital_id)"                        
                                            data-bs-target="#DeleteModal"><i class="far fa-trash-alt"
                                                style="font-size: 20px;"></i></button> -->

                                        <button type="button" class="btn btn-warning mx-2" data-bs-toggle="modal"
                                            (click)="setEditModal(hospital.hospital_id)" data-bs-target="#EditModal"><i
                                                class="fas fa-edit mx-1" style="font-size: 15px;"></i> แก้ไข</button>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            (click)="setDeleteModal(hospital.hospital_id)"
                                            data-bs-target="#DeleteModal"><i class="fas fa-trash-alt mx-1"
                                                style="font-size: 15px;"></i> ลบ</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-end">
                        <pagination-controls class="text-center my-pagination" (pageChange)="page=$event">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>