@import "../../../../../assets/scss/base/responsive";
@import "../../../../../assets/scss/base/typography";

.text-white{
  color: #fff;
}

li{
  @include subtitle3;
}
.img-disease {
  background-image: url(../../../../../assets/img/insurance/life1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 100px;
  // border-radius: 0 0 80px 80px;
  // box-shadow: 0 0 30.5px #d1d1d1;


}

.text-color {
  color: #0f2f86;
}


.title {
  color: #0f2f86;
  text-align: left;
  font-family: 'DB HelvethaicaMon X 55 Regular' !important;
  font-size: 2.5rem !important; //14px
}


.title-2 {
  color: #0f2f86;
  text-align: left;
  font-family: 'DB Helvethaica';
  font-weight: bold;
  font-size: 3rem !important; //14px
}

legend {
  // display: block;
  width: 100%;
  margin: 5px 0 15px 0;
  // line-height: inherit;
  border-bottom: 1px solid #0f2f86;
  // border-radius: 1rem;
  transition: width 200ms ease-in;
}



.text3 {
  font-family: 'DB HelvethaicaMon X 55 Regular' !important;
  font-size: 2rem !important; //16px
  font-weight: $font-weight-normal !important;
}


.services__content {
  text-align: center;
  box-shadow: 0px 2px 6px hsla(var(45), 100%, 15%, 0.15);
  padding: 1rem 1rem;
  border-radius: 1rem;
  text-align: center;
  border: solid #0f2f86;
  // background-color: #0a58ca;
  margin-right: 40px;
  @media (max-width: 428px) {
    margin: 5px;
  }
}

// .services__content:hover{

//   background-color: #3d3d3d;
 
// }

ul {
  list-style: square;
  // font-size: 20px;
}

.fix-footer{
  padding-left: 10rem;
  @media (max-width: 428px) {
    padding-left: unset;
  }
}


.footer-activity {
  // padding-top: 13px;
  // height: 30px;
  background-color: #0f2f86;

  // @include respond-to("laptop") {
  //   position: fixed;
  // }

  // @media (min-width: 1024px) {
  //   position: fixed;
  // }

  // @include respond-to("medium-large") {
  //   position: fixed;
  // }

  // @media (max-width: 428px) {
  //   position: fixed;
  // }

  // z-index: 1020;
  width: 100%;
  margin-right: unset;
  margin-left: unset;
  bottom: 0;
}