<app-header-frontend></app-header-frontend>
<div class="container-fluid" style="margin-top: 35px;">
    <div class="row">
        <div class="img-disease">
            <div class="title animate__animated animate__fadeInLeft">ประกันแบบโรคร้ายแรง</div>
            <div class="col-12 col-xl-2">
                <legend></legend>
                <div class="title-2 animate__animated animate__slideInRight">iCare</div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-xl-12 text-center">
            <label class="heading1 text-color animate__animated animate__zoomIn"
                style="font-size: 2.25rem !important;">นิยามใหม่กับแผนประกันโรคร้ายแรง</label>
            <p class="text1 animate__animated animate__zoomIn" style="color: #999999;">ที่ให้ความคุ้มครองเต็มเหนี่ยวถึง
                100 อาการ
                ครอบคลุมทุกระยะโรคร้าย
                และให้คุณเคลมได้หลายครั้งรวมสูงสุดถึง 6
                เท่าของจำนวนเงินเอาประกันภัย
                <br>
                แถมยังมั่นใจได้ว่าความคุ้มครองของคุณจะไม่สูญหายแม้ยามเจ็บป่วยด้วยโรคร้ายแรง
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 text-center">
            <!-- <i class="far fa-thumbs-up" style="font-size: 30px;"></i> -->
            <label class="text-number2">ผลประโยชน์</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-4 text-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-duration="1000">
            <div class="services__content">
                <label class="text1" style="color: #858585;">คุ้มครองโรคร้ายแรง</label>
                <br>
                <label class="text-color title-2 " style="font-size: 50px;">90 </label>
                <label class="text3 text-color">&nbsp;&nbsp;โรค</label>
            </div>
        </div>
        <div class="col-12 col-xl-4  text-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-duration="1100">

            <div class="services__content">
                <label class="text1" style="color: #858585;">เคลมได้หลายครั้ง สูงสุดถึง</label>
                <br>
                <label class="text-color title-2" style="font-size: 50px;">5</label>
                <label class="text3 text-color">&nbsp;&nbsp;เท่าของจำนวนเงินเอาประกันภัย</label>
            </div>

        </div>
        <div class="col-12 col-xl-4 text-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-duration="1200">

            <div class="services__content">
                <label class="text1" style="color: #858585;">มีความคุ้มครองกรณีเสียชีวิต</label>
                <br>
                <label class="text-color title-2" style="font-size: 50px;">100,000</label>
                <label class="text3 text-color">&nbsp;&nbsp;บาท</label>
            </div>
        </div>
    </div>
</div>
<br>
<div class="footer-activity" style="background-color:#3054ae;">
    <div class="" style="padding-left: 9rem;margin-top: 15px;">
        <div class="col-12 col-xl-12 text-left">
            <!-- <i class="far fa-thumbs-up" style="font-size: 30px;"></i> -->
            <label class="text-number2 text-white">สิทธิประโยชน์</label>
        </div>
    </div>
    <div class="col-12 text-white fix-footer" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
        <ul>
            <li>คุ้มครอง 90 โรค ครอบคลุมทุกระยะ</li>
            <li>จะเคลมหลายครั้งก็ยังไหว เพราะความคุ้มครองเราให้สูงสุดถึง 5 เท่าของจำนวนเงินเอาประกันภัย</li>
            <li>เพิ่มความคุ้มครองอีก 10 โรคสำหรับสมาชิกตัวน้อย (รวมคุ้มครองสูงสุด 6 เท่าสำหรับเด็กอายุ 1 เดือน – 18
                ปี)</li>
            <li>มีความคุ้มครองกรณีเสียชีวิต (ทุกกรณี) 100,000 บาท</li>
        </ul>
    </div>
    <br>
</div>
<!-- <label style="font-size: 80px;">90</label> -->