@import "/src/app/module/dashboard/dashboard.component.scss";
@import "/src/assets/scss/base/table";
@import "/src/app/module/dashboard/dashboard-hospital/dashboard-hospital/dashboard-hospital.component.scss";

legend {
    display: block;
    width: 100%;
    margin: 5px 0 15px 0;
    font-size: 21px;
    line-height: inherit;
    border-bottom: 1px solid #e0e0e0;
  }

  
.circle {
  width: 40px;
  height: 40px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  // text-decoration: none;
  // transition: background 0.2s;
}

.edit {
  background: #01008f;
  &:hover {
    background: #242323;
  }
}

.delete{
  background: #f64658;
  &:hover {
    background: #242323;
  }
}
.btn-add-data {
  // width: auto !important;
  color: white;
  background-color: #22C55E;
  text-align: center;
  float: right;
  margin-bottom: 10px;
  &:hover {
    background-color: #242323;
  }
}

// input[type="file"]{
//   display: none;
// }

.drag-area{
  border: 3px dashed #999999;
  // height: 500px;
  // width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 50px;
  color: #999999;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}



