<app-header-frontend></app-header-frontend>
<div class="container-fluid" style="margin-top: 35px;">
    <div class="row">
        <div class="img-disease">
            <div class="title animate__animated animate__fadeInLeft">ให้ความสุขอยู่คู่กับคุณในวัยเกษียณ
                <div class="col-12 col-xl-5">
                    <legend></legend>
                    <div class="title-2 animate__animated animate__slideInRight">Life Retire 5</div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-xl-12 text-center">
                <label class="heading1 text-color animate__animated animate__zoomIn"
                    style="font-size: 2.25rem !important;">แบบประกันบำนาญ Life Retire 5</label>
                <p class="text1 animate__animated animate__zoomIn" style="color: #999999;">
                    เมื่อการวางแผนการเกษียณ ไม่ได้เป็นเรื่องของผู้สูงอายุอีกต่อไป
                    เริ่มต้นวางแผนตั้งแต่วันนี้เพื่อให้ความสุขอยู่คู่กับคุณในวัยเกษียณ
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-12 text-center">
                <!-- <i class="far fa-thumbs-up" style="font-size: 30px;"></i> -->
                <label class="text-number2">ผลประโยชน์</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-4 text-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                data-aos-duration="1000">
                <div class="services__content">
                    <label class="text1" style="color: #858585;">ระยะเวลาชำระเบี้ยประกันภัย</label>
                    <br>
                    <!-- <label class="text-color title-2 " style="font-size: 50px;">รับเบี้ยฯ หลักที่ชำระมาทั้งหมด </label> -->
                    <label class="text3 text-color">ช่วยให้คุณเริ่มต้นวางแผนได้ง่ายขึ้น</label>
                    <label class="text1" style="color: #858585;">ด้วยการชำระเบี้ยประกันภัย 5 ปี คุ้มครองจนครบอายุ 85
                        ปี</label>
                </div>
            </div>
            <div class="col-12 col-xl-4  text-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                data-aos-duration="1100">

                <div class="services__content">
                    <label class="text1" style="color: #858585;">รับเงินบำนาญ</label>
                    <br>

                    <label class="text3 text-color">15% ของจำนวนเงินเอาประกันภัย</label>
                    <label class="text1" style="color: #858585;">ตั้งแต่วันครบรอบปีกรมธรรม์ที่อายุครบ 60 ปี - 85
                        ปี</label>
                </div>

            </div>
            <div class="col-12 col-xl-4 text-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                data-aos-duration="1200">

                <div class="services__content">
                    <label class="text1" style="color: #858585;">รับสิทธิลดหย่อนภาษี</label>
                    <br>
                    <!-- <label class="text-color title-2 text-center" style="font-size: 50px;">ทุกปี</label> -->
                    <label class="text3 text-color">สูงสุดถึง 300,000 บาท*</label>
                    <label class="text1" style="color: #858585;">โดยเป็นไปตามข้อกำหนดและเงื่อนไขของกรมสรรพากร</label>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="footer-activity" style="background-color:#3054ae;">
    <div class="" style="padding-left: 9rem;margin-top: 15px;">
        <div class="col-12 col-xl-12 text-left">
            <!-- <i class="far fa-thumbs-up" style="font-size: 30px;"></i> -->
            <label class="text-number2 text-white">สิทธิประโยชน์</label>
        </div>
    </div>
    <div class="col-12 text-white fix-footer">
        <ul>
            <li>ชำระเบี้ยสั้น ช่วยให้คุณเริ่มต้นวางแผนได้ง่ายขึ้น ชำระเบี้ยประกันภัย 5 ปี คุ้มครองจนครบอายุ 85 ปี</li>
            <li>รับเงินบำนาญ 15% ของจำนวนเงินเอาประกันภัยตั้งแต่วันครบรอบปีกรมธรรม์ที่อายุครบ 60 ปี - 85 ปี
                โดยสามารถเลือกรับเงินบำนาญเป็นรายเดือนหรือรายปีให้สอดคล้องกับการวางแผนการใช้ชีวิตของคุณ</li>
            <li>นอกเหนือจากการวางแผนเกษียณเพื่อตัวคุณเอง คือการได้เพิ่มหลักประกันให้กับคนข้างหลัง (กรณีเสียชีวิต)</li>
            <li>ไรับสิทธิลดหย่อนภาษีได้สูงสุดถึง 300,000 บาท* โดยเป็นไปตามข้อกำหนดและเงื่อนไขของกรมสรรพากร</li>
        </ul>
    </div>
    <br>