@import "/src/app/module/dashboard/dashboard.component.scss";

.card-header{
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 14px;
    background: #fff;
}

// .card-header:first-child {
//     border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
// }