<!-- Modal -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center" style="color: #081D45;"> คุณต้องการออกจากระบบหรือไม่ ?</h2>
                <div class="text-center mt-2">
                    <button type="button" class="btn btn-link-need subtitle1 mx-2" (click)="logout()"><i
                            class="fas fa-sign-out-alt"></i>&nbsp; &nbsp;ใช่</button>
                    <button type="button" class="btn btn-link-need-1 subtitle1" data-bs-dismiss="modal"><i
                            class="fas fa-times-circle"></i>&nbsp; &nbsp;ไม่</button>
                </div>
            </div>
        </div>
    </div>
</div> -->


<body>
    <app-sidebar-backend></app-sidebar-backend>
    <section class="home-section">
        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <nav class="subtitle3"><i class="fa fa-street-view" aria-hidden="true" style="font-size: 15px;"></i>
                        &nbsp;&nbsp; <span class="subtitle1"> A D M I N</span></nav>
                </div>
            </div>
        </header>
        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">แผนประกัน</div>
                        <div class="number">10</div>
                        <div class="indicator">
                            <!-- <i class="fas fa-angle-up"></i>
                            <span class="text">Insurance</span> -->
                        </div>
                    </div>
                    <i class="far fa-list-alt cart"></i>
                </div>

                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">โรงพยาบาล</div>
                        <div class="number">{{dataTotal.total_hospital}}</div>
                        <div class="indicator">
                            <!-- <i class="fas fa-angle-up"></i>
                            <span class="text">Hospital</span> -->
                        </div>
                    </div>
                    <i class='far fa-hospital cart two'></i>
                </div>

                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">ลูกค้าที่สนใจ</div>
                        <div class="number">{{dataTotal.total_user}}</div>
                        <div class="indicator">
                            <!-- <i class="fas fa-angle-up"></i>
                            <span class="text">Customer</span> -->
                        </div>
                    </div>
                    <i class='far fa-user cart three'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">เอกสารอัปโหลด</div>
                        <div class="number">{{dataTotal.total_insurance}}</div>
                        <div class="indicator">
                            <!-- <i class='far fa-user cart three'></i>
                            <span class="text">Document Insurance</span> -->
                        </div>
                    </div>
                    <i class='far fa-file-alt cart four'></i>
                </div>
            </div>
            
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <!-- <div class="title">ลูกค้าที่สนใจทำประกัน</div> -->
                    
                    <div class="sales-details">
                        <!-- <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions2" style="width: 100%;">
                        </highcharts-chart> -->
                        <img src="../../../../../assets/img/axa-png-5.jpg" alt="" width="700px">
                      
                    </div>
                </div>

                <div class="top-sales box">
                    <div class="title">ประกันยอดฮิต</div>
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 100%; display: block;">
                    </highcharts-chart>

                </div>
            </div>
        </div>
    </section>
</body>